@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,300;1,500;1,600;1,700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

.content-gone{
    display:none;
}

body{
 min-height: 100vh;
 overflow-x: hidden;    
}

#roller-img{
    
    width: 50vw;
}

#main{
   
    height: 100vh;

}
#background-image{
    position: absolute;
    top: 180px;
    left: 15vw;;
    width: 70vw;
    height:auto;
}

#name-container{
    position: absolute;
    left: 1vw;
    top: 35vh;
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#call-name{
    color: #F0C919;
}

#deliver-name{
    color: #6154A0;
}
#moped-image{
    position:absolute;
    height: 50vh;
    width: auto;
    top: 130vh;
    left: 5vw;

}

.section-main{
    background: url(images/background.jpg) no-repeat;
    height: 100vh;
    width: 100vw ;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background-size: 1280px 320px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
}

.section-main h1{
color: rgba(255, 255, 255, 0.5); 
font-size: 60px;
font-weight: 800; 
text-transform: uppercase;
letter-spacing: 2px; 
line-height: 80px;
}

header {
z-index: 999; 
position: fixed;
top: 0;
left: 0;
width: 100%; 
display: flex;
justify-content: space-between; 
align-items: center;
padding: 10px 50px;
transition: 0.6s;
background-color:#5320a1;
box-shadow: 2px 2px 5px gray;
}

header.sticky{
 background: #fff;
 padding: 10px 50px;
 box-shadow: 0px 0px 0px gray;
}

.header_a{
    color: #fff;
}

.where{
text-align: center;
font-size: 60px;

}


.logo-image{
    display: grid;
    grid-template-columns: 60px 160px;
    width: 220px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    align-items: center;
    color: #484747;
} 
#logo-text{
    text-decoration: none;
    color:#2e2e2e;
}

header .menu{
    position: relative; 
    display: flex; 
    justify-content: center;
    align-items: center; 
}

header .menu a{
    font-weight: normal;
    font-size: 14px; 
    text-decoration: none;
    margin: 0 5px;
    padding: 0 5px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: color, background;
}

header .menu b{
color: black;
font-size: 14px; 
font-weight: 900; 
text-decoration: none;
margin: 0 px;
padding: 0 px;
border-radius: 20px;
transition: 0.3s;
transition-property: color, background;  
}

header .menu a:hover{
animation: navbarhover 200ms ease;
text-decoration: underline;
}

@keyframes navbarhover{
    from{
        text-decoration: none;
    }
    to{
        text-decoration: underline;
    }
}
    
header .btn {
    color: #F0C919;
    font-size: 25px;
    cursor: pointer;
    display: none;
}


@media (max-width: 1060px){
    header .btn{
        display: block;
    }
    header .menu{
    position: absolute;
    background: #fff;
    flex-direction: column;
    min-width: 20vw;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 10px 50px;
    transition: 0.5s;
    z-index: 5;
    transition-property: right;
    }
    
    header .menu.active{
        right: 0;
    }
    
    header .menu .close-btn{
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
    }
    header .menu a{
        display: block;
        font-size: 20px;
        margin: 20px;
        padding: 0 15px;
    }

    .input-container{
        display: flex;
        margin-top: 20px;
        justify-content: center;
        
    }

    
}


.input-container{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}


.container-form{
	margin-bottom: 100px;
	width: 100%;
    margin: 10px;
    margin-right: 50px;
	
}
#form-option{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex; 
    justify-content: space-evenly;
}
.form-option-button{
    background-color: transparent;
    padding: 10px;
    font-size: 20px;
    width: 300px;
    height: auto;
    border: 0px solid transparent;
    border-bottom: 2px solid #F0C919;
    
}

.form-option-button-selected{
    animation: form-option-selected 200ms ease-in-out;
    border-bottom: 5px solid #F0C919;
    font-weight: bold;
}

.form-option-button:hover{
    
    cursor: pointer;
}

@keyframes form-option-selected{
    from{   
        border-bottom: 2px solid #F0C919;
        font-weight: normal;
    }
    to{
        border-bottom: 5px solid #F0C919;
        font-weight: bold;
    }
}

.form-option .asap-type{
    border: 2px solid red;
    border-radius: 5px;
    padding: 5px 20px

}


#input-form{
    width: 500px;
}



#pickup-container{
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-rows: 80px 80px 80px;
    border: 0px solid transparent;
    border-left: 2px solid #6154A0;
}

#dropoff-container{
    margin-left: 5px;
    display: grid;
    grid-template-rows: 80px 80px 80px 5px  80px 80px 80px 80px 80px;
    border: 0px solid transparent;
    border-left: 2px solid #6154A0;
}

.button-two-column{
    display: grid;
    margin-left: 20px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 480px;
}

.header-checkbox-column{
    display: grid;
    grid-template-columns: 80% 20%;
    margin-left: 20px;
    width: 480px;
    height: 40px;
    align-items: center;

}

.header-input-one-column{
    display: grid;
    grid-template-rows: 20px 1fr;
    height:20vh;
    margin-left: 20px;
    
}

.header-textarea-one-column{
    display: grid;
    grid-template-rows: 20px 1fr;
    height:150px;
    margin-left: 20px;
}

.header-input-two-column{
    display: grid;
    grid-template-rows: 20px 1fr;
    grid-template-columns: 1fr 1fr;
    height:40px;
    margin-left: 20px;
    grid-column-gap: 10px;
    
}

.text-color-secondary{
    color: #6154A0;
}

.horizontal-lign{
    background-color: #6154A0;
    height:1px;
    
    margin-left: 20px;
}

.text-box-main{
    height:35px;
    margin: 10px 0px 10px 0px;
    border: solid 1px #2e2e2e5F;
    border-radius: 3px;
    padding: 10px;
}
.textbox-disabled{
    pointer-events: none;
    background-color: #00000020;
}

.input-header{
    color: #5320a1;
}

.schedule-input-gone{
    display:none;
    
}

.schedule-input-visible{
    width:100%;
    margin-left: 20px;
    padding: 10px;
    border: 2px solid #6154A0;
    background:#6154A0;
    border-radius: 5px;
    display:grid;
    grid-template-rows: 20px 40px 1px 20px 40px;
    grid-row-gap: 10px;  
    
}

.sched-input-header{
    color: white;
    font-weight: normal;
}



.schedule-layout-container{
    width:100%;
}

.sender-recipient-button{
    background-color: transparent;
    padding: 10px;
    font-size: 18px;
    width: 230px;
    height: 60px;
    border: 0px solid transparent;
    border-bottom: 2px solid #F0C919;
}

.sender-recipient-button:hover{
    cursor: pointer;
}

.sender-recipient-selected{
    animation: form-option-selected 200ms ease-in-out;
    border-bottom: 5px solid #F0C919;
    font-weight: bold;
}

.small-icon{
    height: 30px;
    width: 30px;
    margin:auto;

}

.hover-pointer:hover{
    cursor: pointer;
    
}

.color-white{
    color: white;
}

.yellow-hover{
    text-decoration: none;
    color: #F0C919;

}

.footer-link-text:hover{
    text-decoration: underline;
}


.dropdown-style{
    height:35px;
    border:solid 1px #2e2e2e5F;
    background:#ffff;
    color:#2e2e2e;
    border-radius: 5px;
}

.dropdown-style-colored{
    height:35px;
    border:solid 1px #2e2e2e5F;
    background:#6154A0;
    color:#fff;
    border-radius: 5px;
}


#vehicle-dropdown{
    margin-top: 10px;
}

#item-description-dropdown{
    margin-top: 10px;
}

#item-description-textarea{
    margin-top: 10px;
    resize: none;
    border:solid 1px #2e2e2e5F;
    border-radius: 5px;
    padding:10px;
}

#total-container{
    margin-top:20px;
    margin-left: 20px;
    width:400px;
}

#book-now-button{
    background:#6154A0;
    color:#fff;
    border:none;
    margin: 20px;
    width:150px;
    height:30px;
}

#book-now-button:hover{
    cursor: pointer;
}

footer {
    display:grid;
    grid-template-columns: 400px 250px 250px 250px;
    background: url(images/footer_background.jpg);
    background-size: 100% 100%;
    
    height:70vh;
    margin-top: -25vh;
    background-repeat:no-repeat;
    padding-top: 35vh;
    
}

.footer-button-container{
    margin: 20px;
    margin-top: 40px;
    display:grid;
    grid-template-rows: 35px 35px 35px;
    grid-gap: 10px;
    align-items: center;
    color:white;
}

#footer-image{
    margin: auto;
    
    width: 70%;
    grid-column-start: 1;
    grid-column-end:6;
}

.header-text{
    grid-column-start:1;
    grid-column-end: 3;
    color: #F0C919;
}

.two-column-container{
    width:280px;
    display: grid;
    grid-template-columns: 20px 80px 80px 80px 20px;
    grid-template-rows: 100px 30px;
}



@media (max-width:720px){
    body{
        padding:20px;
        min-height: 100vh;
        overflow-x: hidden;
        display:grid;
       }
    #moped-image{
        visibility: collapse;
    }
    .section-main h1{
        font-size: 50px;
        line-height: 60px;
    }

    .container-form{
        
    }
    #input-form{
        
        width: 100%;
    }

    #main{
   
        height: 30vh;
        display:flex;
        align-items: center;
    
    }

    .where{
        text-align: center;
        font-size: 40px;
        
        }
        
        

    #form-option{
        margin-top: 2vh;
        display: flex; 
        justify-content: space-evenly;
    }

    .form-option .asap-type{
        border: 2px solid red;
        border-radius: 5px;
        padding: 5px 20px
    
    }
    #pickup-container{
        margin-left: 5px;
        margin-bottom: 20px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        border: 0px solid transparent;
        border-left: 2px solid #6154A0;
    }

    #background-image{
        width: auto;
        height: 20vh;
        margin-left: 30vw;
        margin-top:-5vh ;
    }
    
    .form-option-button{
        background-color: transparent;
        padding: 10px;
        font-size: 20px;
        width: 40vw;
        height: auto;
        border: 0px solid transparent;
        border-bottom: 2px solid #F0C919;
        
    }
    
    #dropoff-container{
        margin-left: 5px;
        display: grid;
        grid-template-rows: 80px 80px 90px 20px  80px 80px 80px 80px 80px;
        border: 0px solid transparent;
        border-left: 2px solid #6154A0;
    }
    
    .button-two-column{
        display: grid;
        margin-left: 2%;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        width: 90%;
    }
    
    .header-checkbox-column{
        display: grid;
        grid-template-columns: 80% 20%;
        margin-left: 20px;
        width: 50vw;
        height: 10vh;
        align-items: center;
    
    }
    
    .header-input-one-column{
        display: grid;
        grid-template-rows: 20px 1fr;
        height:90px;
        margin-left: 10px;
        width:100%;
    }
    
    .header-textarea-one-column{
        display: grid;
        grid-template-rows: 20px 1fr;
        height:150px;
        margin-left: 20px;
    }
    
    .header-input-two-column{
        display: grid;
        grid-template-rows: 20px 1fr;
        grid-template-columns: 1fr 1fr;
        height:40px;
        margin-left: 20px;
        grid-column-gap: 10px;
        
    }
    
    .text-color-secondary{
        color: #6154A0;
    }
    
    .horizontal-lign{
        background-color: #6154A0;
        height:1px;
        
        margin-left: 20px;
    }
    
    .text-box-main{
        height:35px;
        margin: 20px 10px 20px 0px;
        border: solid 1px #2e2e2e5F;
        border-radius: 3px;
        padding: 10px;
    }
    .textbox-disabled{
        pointer-events: none;
        background-color: #00000020;
    }
    
    .schedule-input-gone{
        display:none;
        
    }
    
    .schedule-input-visible{
        width:95%;
        margin-left: 20px;
        padding: 10px;
        border: 2px solid #6154A0;
        border-radius: 5px;
        display:grid;
        grid-template-rows: 20px 40px 1px 20px 40px;
        grid-row-gap: 10px;  
        
    }
    
    
    
    .schedule-layout-container{
        width:100%;
    }
    
    .sender-recipient-button{
        background-color: transparent;
        padding: 10px;
        font-size: 18px;
        width: 40vw;
        height: 60px;
        border: 0px solid transparent;
        border-bottom: 2px solid #F0C919;
    }
    
    .sender-recipient-button:hover{
        cursor: pointer;
    }
    
    .sender-recipient-selected{
        animation: form-option-selected 200ms ease-in-out;
        border-bottom: 5px solid #F0C919;
        font-weight: bold;
    }
    
    .small-icon{
        height: 30px;
        width: 30px;
        margin:auto;
    
    }
    
    .hover-pointer:hover{
        cursor: pointer;
        
    }
    
    .color-white{
        color: white;
    }
    
    .yellow-hover{
        text-decoration: none;
        color: #F0C919;
    
    }

    header {
        z-index: 2; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        height:7vh;
        display: flex;
        justify-content: space-between; 
        align-items: center;
        transition: 0.6s;
        background-color:#5320a1;
        box-shadow: 2px 2px 5px gray;
        }
    
    .footer-link-text:hover{
        text-decoration: underline;
    }
    
    
    .dropdown-style{
        height:35px;
        border:solid 1px #2e2e2e5F;
        border-radius: 5px;
        margin-right: 10px;
    }
    
    #vehicle-dropdown{
        margin-top: 10px;
    }
    
    #item-description-dropdown{
        margin-top: 10px;
    }
    
    #item-description-textarea{
        margin-top: 10px;
        resize: none;
        border:solid 1px #2e2e2e5F;
        border-radius: 5px;
        padding:10px;
        margin-right: 10px;
    }
    
    #total-container{
        margin-top:20px;
        margin-left: 20px;
        width:400px;
    }
    
    #book-now-button{
        background:#6154A0;
        color:#fff;
        border:none;
        margin: 20px;
        width:150px;
        height:30px;
    }
    
    #book-now-button:hover{
        cursor: pointer;
    }
    
    footer {
        visibility:collapse;
        
    }
    
    .footer-button-container{
        margin: 20px;
        margin-top: 40px;
        display:grid;
        grid-template-rows: 35px 35px 35px;
        grid-gap: 10px;
        align-items: center;
        color:white;
    }
    
    #footer-image{
        margin: auto;
        
        width: 70%;
        grid-column-start: 1;
        grid-column-end:6;
    }
    
    .header-text{
        grid-column-start:1;
        grid-column-end: 3;
        color: #F0C919;
    }
    
    .two-column-container{
        width:20vw;
        display: grid;
        grid-template-columns: 20px 80px 80px 80px 20px;
        padding:10px;
        grid-template-rows: 100px 30px;
    }
    
    
    #desktop-footer-container{
        display: none;
    }

    .input-container{
        display: flex;
        margin-top: 20px;
        justify-content: left;
        margin-right: 20px;
        
    }

    .logo-image{
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: auto;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        margin-top: -6px;
        align-items: center;
        color: #484747;
    } 
    header.sticky{
        background: #fff;
        padding: 0px 70px 0px 10px;
        box-shadow: 1px 1px 5px  gray;
        height:7vh;
       }
       
}


